<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnSwHPNO6uHuOIcOGuA92wBg1D4FXRUA4</string>
	<key>GCM_SENDER_ID</key>
	<string>325873911257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uzimmie</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-df27c</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-df27c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325873911257:ios:e6c8fef3d52ced67da45c8</string>
</dict>
</plist>